@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
	/* Colors */
	--primary-dcyan: hsl(158, 36%, 37%);
	--primary-dcyan-hover: hsl(158, 36%, 20%);
	--primary-cream: hsl(30, 38%, 92%);

	--neutral-vdblue: hsl(212, 21%, 14%);
	--neutral-dgblue: hsl(228, 12%, 48%);
	--neutral-white: White: hsl(0, 0%, 100%);

	/* Typography */
	--font-montserrat: 'Montserrat', sans-serif;
	--font-fraunces: 'Fraunces', serif;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: var(--primary-cream);
	font-size: 14px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	outline: 3px solid red;

}

.container {
	background-color: white;
	width: 90%;
	min-width: 22rem;
	max-width: 40rem;
	margin: 0 auto;

	border-radius: 8px;
}

.top img {
	width: 100%;
	height: auto;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.bottom {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	padding: 1.3rem;
}

.preview, .bottom p {
	color: var(--neutral-dgblue);
	font-family: var(--font-montserrat);
}

.preview {
	font-size: 0.7rem;
	letter-spacing: .2rem;
}

.perfume-name {
	color: var(--neutral-vdblue);
	font-family: var(--font-fraunces);
	font-size: 2rem;
}

.bottom p {
	line-height: 1.5;
}

.price-container {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 0.3rem;

	font-family: var(--font-fraunces);
}

.discounted {
	color: var(--primary-dcyan);
	font-size: 2rem;
	font-weight: 800;
}

.original {
	color: var(--neutral-dgblue);
	font-size: 1.125rem;
	text-decoration: line-through;
}

.button {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	background-color: var(--primary-dcyan);
	color: var(--primary-cream);
	margin-top: 0.3rem;
	padding: 1rem;
	border-radius: 12px;
	font-family: var(--font-montserrat);
	font-weight: 500;
	cursor: pointer;
}

.button:hover {
	background-color: var(--primary-dcyan-hover);
}

.img-desktop {
	display: none;
}

@media only screen and (min-width: 640px) {
	.container {
		display: flex;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}

	.img-desktop {
		display: block;
	}

	.img-mobile {
		display: none;
	}

	.top {
		flex: 1;
	}

	.bottom {
		flex: 1;
	}

	.top img {
		border-top-right-radius: 0;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
	}
}